{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/feedback.css' %}">
<link rel="shortcut icon" href="/folder-name/logo.ico">
{% endblock head %}

{% block content %}
<!--Judul-->
<section>
    <div class="container d-flex justify-content-center judul">
        <div class="row">
            <div class="col-auto">
                <p>Feedback</p>
            </div>
        </div>
    </div>
</section>
<!--end of judul-->

<!--Form-->
<section>
    <div class="container container-form">
        <!--Respons Form-->
        <div id="respons"></div> 
        <form id="sub" class="form" action="savefeedback/" method="POST">
            {% csrf_token %}
            <p class="fields">{{ field.nama }}</p>
            <p class="fields">{{ field.email }}</p>
            <p class="fields">{{ field.isi }}</p>
            <input type="submit" value="Submit" class="submit-button">
        </form>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
<script src="{% static 'js/feedback.js' %}"></script>
{% endblock content %}