{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock head %}

{% block content %}
<!--Judul-->
<section>
    <div class="container d-flex justify-content-center judul">
        <div class="row">
            <div class="col-auto">
                <p>List Feedbacks</p>
            </div>
        </div>
    </div>
</section>
<!--end of judul-->

<!--Form-->
<section>
    <div class="container container-list">
        <div class="row" style="text-align: center;">
            {% if feedbacks %}
            {% for feedback in feedbacks %}
            <div class="singles col-xl-4 col-lg-4 col-md-3">
                <p>{{ feedback.nama }}</p>
                <p>{{ feedback.email }}</p>
                <p>{{ feedback.isi }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}