{% extends 'base.html' %}
{% load static %}

{% block content %}
<!--Perkenalan-->
<section id="perkenalan">

    <!--Desktop-->
    <div class="jelas-desktop mb-5">
        <div class="row position-relative w-100">
            <div class="col-auto">
                <h1 class="title"><span class="coro"><span>C</span><span class="oro">oro</span></span><span
                        class="now">Now</span></h1>
                <p class="penjelasan">CoroNow adalah website layanan<br>
                    penyedia informasi terkini mengenai<br>
                    COVID-19.</p>
            </div>
            <div class="col-auto d-flex justify-content-center align-items-center gambar">
                <img class="img-fluid" src="{% static 'img/logo.svg'%}">
            </div>
        </div>
    </div>

    <!--Mobile-->
    <div class="jelas-mobile mb-5">
        <div class="row">

            <div class="col-auto d-flex justify-content-center align-items-center gambar">
                <img class="img-fluid" src="{% static 'img/logo.svg'%}">
            </div>
            <div class="col-auto">
                <h1 class="title"><span class="coro"><span>C</span><span class="oro">oro</span></span><span
                        class="now">Now</span></h1>
                <p class="penjelasan">CoroNow adalah website layanan<br>
                    penyedia informasi terkini mengenai<br>
                    COVID-19.</p>
            </div>
        </div>
    </div>
</section>
<!--end of Perkenalan-->


<!--Penjelasan-->
<section id="penjelasan">
    <div class="container container-penjelasan">

        <!--Apa itu CoroNow?-->
        <div class="row container-teks">
            <div class="col-md-6 box d-flex justify-content-end align-items-center">
                <h1 class="teks">Apa itu CoroNow?</h1>
                <img class="gelombing" src="{% static 'img/gelombing.svg'%}">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <p class="teks-2">CoroNow adalah website layanan penyedia informasi terkini mengenai COVID-19. CoroNow
                    menyediakan
                    informasi dalam bentuk Status Covid (Data terkini penyebaran Covid), News (Berita terkini mengenai
                    Covid), Blog (Artikel-artikel penunjang), Feedback page, dan Landing Page.
                </p>
            </div>
        </div>

        <!--CovidStats-->
        <div class="row container-teks">
            <div class="col-md-6 d-flex box align-items-center">
                <p class="teks-2-1">CovidStats menyediakan informasi mengenai status terinfeksi, sembuh, dan meninggal
                    di
                    negara Indonesia secara real-time.</p>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <h1 class="teks-1">CovidStats</h1>
                <img class="gelombing" src="{% static 'img/gelombing2.svg'%}">
            </div>
        </div>

        <!--CovidBlog-->
        <div class="row container-teks">
            <div class="col-md-6 box d-flex justify-content-end align-items-center">
                <h1 class="teks">CovidBlog</h1>
                <img class="gelombing" src="{% static 'img/gelombing.svg'%}">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <p class="teks-2">Page yang berisi tulisan-tulisan yang diposting oleh admin dengan konten pandemi
                    COVID-19, baik masalah COVID-19, PJJ, dan WFH. Tulisan-tulisan ini bertujuan untuk mengedukasi para
                    pengunjung website mengenai COVID-19.
                </p>
            </div>
        </div>

        <!--CovidNews-->
        <div class="row container-teks">
            <div class="col-md-6 d-flex box align-items-center">
                <p class="teks-2-1">Page yang berisi berita-berita terkini mengenai perkembangan COVID. Page ini
                    bertujuan untuk memberikan informasi dan berita aktual mengenai COVID agar para user bisa mengikuti
                    perkembangan COVID yang terjadi di Indonesia..
                </p>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <h1 class="teks-1">CovidNews</h1>
                <img class="gelombing" src="{% static 'img/gelombing2.svg'%}">
            </div>
        </div>
    </div>
</section>
<!--end of Penjelasan-->
{% endblock content %}