body {
    background-image: url('/static/img/Vector3.svg');
    background-repeat: no-repeat;
    background-size: max(1520px, 100%);
    background-position: center top;
    background-color: #222831;
    width:100%;
    font-family: 'Montserrat';
}

/*Title*/
.title {
    font-family: 'Montserrat', sans-serif;
    margin-top: 150px;
}
.coro {
    background-color: #222831;
    color: #F7F7F7;
    padding: 20px 5px 20px clamp(0px, 17vw, 250px);
}

.oro {
    font-size: 48px;
    font-weight: 300;
}

.now {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #222831;
    margin-left: 3px;
}

.title span:nth-child(1){
    font-size: 61px;
    font-weight: 300;
}

.gambar {
    text-align: center;
    width: 35%;
    height: 35%;
    position: absolute;
    top: 13vw;
    right: 8vw;
}
.gambar > img {
    min-height: 200px;
    min-width: 200px;
}
.penjelasan {
    font-family: 'Montserrat', sans-serif;
    color: #F7F7F7;
    font-weight: 300;
    padding-left: clamp(0px, 17vw, 250px);
    font-size: 24px;
    margin-top: 30px;
}

.jelas-desktop {
    display: block;
}

.jelas-mobile {
    display: none;
}

/* Navbar */
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand span:nth-child(1) {
    font-size: 61px;
    font-weight: 300;
}
.navbar-brand span:nth-child(2) {
    font-size: 48px;
    font-weight: 300;
}
.navbar-brand span:nth-child(3) {
    font-size: 48px;
    font-weight: 700;
}
.navbar-nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-left: 50px;
}

/* Footer */
.footer {
    background: linear-gradient(360deg, #4F8A8B 0%, rgba(79, 138, 139, 0.4) 85.79%);
    height: 25vh;
    width:100%;
}
.kontak span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FBD46D;
    font-size: 32px;
}
.foto-kontak img {
    border-radius:50%;
    width:80px;
    height:80px;
}

/*Frameworks*/
@media (max-width: 576px) {
    .coro {
        padding-left: 60px;
    }
    .title span:nth-child(1){
        font-size: 40px;
        font-weight: 300;
    }
    .oro {
        font-size: 34px;
        font-weight: 300;
    }
    .now {
        font-size: 34px;
    }
    .penjelasan {
        padding-left: 60px;
        font-size: 16px;
        margin-top: 30px;
    }
    .jelas-desktop {
        display: none;
    }
    .jelas-mobile {
        display: block;
    }
    .gambar {
        position: relative;
        margin: auto;
        width: 80%;
        height: 80%;
        top: unset;
        right: unset;
    }
    .title {
        margin-top: 10px;
    }
}


/* Fonts */
@font-face{
    font-family: 'Font Awesome Brands';
    src: url('fonts/Font Awesome/fa-brands-400.ttf');
    font-weight: 400;
}
@font-face{
    font-family: 'Font Awesome';
    src: url('fonts/Font Awesome/fa-light-300.ttf');
    font-weight: 300;
}
@font-face{
    font-family: 'Font Awesome';
    src: url('fonts/Font Awesome/fa-regular-400.ttf');
    font-weight: 400;
}
@font-face{
    font-family: 'Font Awesome';
    src: url('fonts/Font Awesome/fa-solid-900.ttf');
    font-weight: 900;
}