body {
    background-image: url('/static/img/Vector3.svg');
    background-repeat: no-repeat;
    background-size: max(1520px, 100%);
    background-position: center top;
    background-color: #222831;
    width:100%;
    font-family: 'Montserrat';
}

/*Title*/
.title {
    font-family: 'Montserrat', sans-serif;
    margin-top: 150px;
}
.coro {
    background-color: #222831;
    color: #F7F7F7;
    padding: 20px 5px 20px clamp(0px, 17vw, 250px);
}

.oro {
    font-size: 48px;
    font-weight: 300;
}

.now {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: bolder;
    color: #222831;
    margin-left: 3px;
}

.title span:nth-child(1){
    font-size: 61px;
    font-weight: 300;
}

.gambar {
    text-align: center;
    width: 35%;
    height: 35%;
    position: absolute;
    top: 13vw;
    right: 8vw;
}
.gambar > img {
    min-height: 200px;
    min-width: 200px;
}
.penjelasan {
    font-family: 'Montserrat', sans-serif;
    color: #F7F7F7;
    font-weight: 300;
    padding-left: clamp(0px, 17vw, 250px);
    font-size: 24px;
    margin-top: 30px;
}

.jelas-desktop {
    display: block;
}

.jelas-mobile {
    display: none;
}

/* Penjelasan */
.container-penjelasan {
    margin-top: 200px;
    margin-bottom: 500px;
}

.container-teks {
    margin-top: 100px;
    min-height: 350px;
}

.box {
    border-right: solid 1px #FBD46D;
}

.teks {
    color: #FBD46D;
    padding-right: 60px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 64px;
    padding-left: 20px;
    line-height: 1.5;
}

.teks-2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-left: 60px;
    text-align: left;
    font-size: 24px;
    color: #F7F7F7;
    padding-right: 37px;
}

.teks-1 {
    color: #FBD46D;
    padding-right: 60px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 64px;
    padding-left: 60px;
    line-height: 1.5;
}

.teks-2-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-left: 60px;
    text-align: right;
    font-size: 24px;
    color: #F7F7F7;
    padding-right: 60px;
}
 
.gelombing {
    position: absolute;
    padding-top: 110px;
    left: 0;
}

.gelombing2 {
    position: absolute;
    padding-top: 110px;
    right: 0;
}

.gbr {
    width: 100%;
}

/* Navbar */
.navbar-brand {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand span:nth-child(1) {
    font-size: 61px;
    font-weight: 300;
}
.navbar-brand span:nth-child(2) {
    font-size: 48px;
    font-weight: 300;
}
.navbar-brand span:nth-child(3) {
    font-size: 48px;
    font-weight: 700;
}
.navbar-nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-left: 3.25vw;
}
.navbar-nav button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-left: 3.25vw;
}
.dpdwn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 25px !important;
    background-color: transparent;
    color: rgba(255,255,255,.5);
    padding: .25rem .25rem;
}
.dpdwn:hover {
    color: white;
    background-color: transparent;
}

.dropdown-menu {
    position: absolute !important;
    background-color: transparent;
    border: none;
    text-align: left;
}

/* Footer */
.footer {
    background: linear-gradient(360deg, #4F8A8B 0%, rgba(79, 138, 139, 0.4) 85.79%);
    height: 25vh;
    width:100%;
}
.kontak span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FBD46D;
    font-size: 32px;
}
.foto-kontak img {
    border-radius:50%;
    width:80px;
    height:80px;
}

/*Frameworks*/
@media (max-width: 576px) {
    .coro {
        padding-left: 60px;
    }

    .navbar-brand span:nth-child(1) {
        font-size: 40px;
        font-weight: 300;
    }
    .navbar-brand span:nth-child(2) {
        font-size: 34px;
        font-weight: 300;
    }
    .navbar-brand span:nth-child(3) {
        font-size: 34px;
        font-weight: 700;
    }

    .navbar-nav a {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 25px;
    }
    .navbar-nav button {
        font-size: 25px !important;
    }
    .dpdwn {
        font-size: 18px !important;
    }
    .penjelasan {
        padding-left: 60px;
        font-size: 16px;
        margin-top: 30px;
    }
    .jelas-desktop {
        display: none;
    }
    .jelas-mobile {
        display: block;
    }
    .gambar {
        position: relative;
        margin: auto;
        width: 80%;
        height: 80%;
        top: unset;
        right: unset;
    }
    .title {
        margin-top: 10px;
    }
    .box {
        border: none;
    }
    .teks {
        padding: 0;
        margin: 0px 10px 0px 0px;
        font-size: 34px;
        padding-left: 30px;
        margin-right: 10px;
    }
    .teks-2 {
        display: flex;
        text-align: left;
        font-size: 16px;
        padding: 0px 20px 0px 25px;
        margin: 16px 0px 0px 10px;
        border-left: solid 1px #FBD46D;
        min-height: 240px;
        align-items: center;
    }
    .teks-1 {
        text-align: center;
        margin: 10px 0px 0px 10px;
        padding: 0;
        font-size: 34px;
    }
    .teks-2-1 {
        display: flex;
        text-align: right;
        font-size: 16px;
        padding: 0px 25px 0px 20px;
        border-right: solid 1px #FBD46D;
        margin-right: 10px;
        min-height: 240px;
        align-items: center;
    }
    .gelombing {
        padding-top: 270px;
    }
    .gelombing2 {
        padding-top: 265px;
    }
    .container-penjelasan {
        margin-bottom: 300px;
    }
}


/* Fonts */
@font-face{
    font-family: 'Font Awesome Brands';
    src: url('fonts/Font Awesome/fa-brands-400.ttf');
    font-weight: 400;
}
@font-face{
    font-family: 'Font Awesome';
    src: url('fonts/Font Awesome/fa-light-300.ttf');
    font-weight: 300;
}
@font-face{
    font-family: 'Font Awesome';
    src: url('fonts/Font Awesome/fa-regular-400.ttf');
    font-weight: 400;
}
@font-face{
    font-family: 'Font Awesome';
    src: url('fonts/Font Awesome/fa-solid-900.ttf');
    font-weight: 900;
}